@model IEnumerable<prjCoreMvcDemo.Models.TCustomer>

@{
    ViewData["Title"] = "List";
}

<h1>客戶資料列表</h1>

<p>
    <a asp-action="Create">新增客戶</a>
</p>



<table class="table">
    @{
        int count = 0;
            <thead>
                <tr>
                    <th>
                        序號
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPassword)
                    </th>
                    <th>
                        編輯
                    </th>
                    <th>
                        刪除
                    </th>
                </tr>
            </thead>
        <tbody>
    @foreach (var item in Model) {
                count++;
                <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPassword)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", "Customer", new { id=item.FId }, null) | |
                    @Html.ActionLink("刪除", "Delete", "Customer", new { id=item.FId },
                    new { onclick="return confirm('確定要刪除嗎？')" })
                </td>
            </tr>
}
        </tbody>
    }
</table>
